body {
	margin: 0;
	padding: 0;
}
svg {
	margin: 10px;
}
table, tr, td {
	padding: 0;
	margin: 0;
	/*border: 1px solid black;*/
	border-collapse: collapse;
}
#xNames, #yNames {
	font-size: 10px;
	font-family: sans-serif;
	text-align: center;
}
#yNames td {
	transform: rotate(-90deg);
}
#filter {
	position: fixed;
	top: 2%;
	right: 2%;
	width: 20%;
	margin: 0;
	padding: 0;
	list-style: none;
}
#filter li {
	padding: 5%;
}